/* FORMULÃRO */
.form {
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 15px;

}

/* INPUTS  DE TEXTO */
.input-label {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 600;
}

.input-label > span {
  font-size: medium;
  font-family: 'Gilroy-thin';
  letter-spacing: 4px;
  padding: 10px 0;
}

.input-element {
  width: inherit;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  transition: all 250ms ease;
  padding: 0 10px;
  font-size: 1rem;
  color: #000;
  font-family: 'Gilroy-thin';
  font-weight: 400;
}

.input-element:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border: 2px solid #b4b4b4;
  color: #b4b4b4;
  background-color: transparent;
}

.input-element:focus {
  outline: none;
  border: 2px solid #00ff6a;
}

.input-element::placeholder {
  color: #000;
}

.input-element__output {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.input-element__output::placeholder {
  color: #fff;
}

.error-message {
  font-size: 0.8rem;
  color: #fe5151;
  font-family: inherit;
  line-height: 14px;
  padding: 2px 0 0 20px;
}

/* INPUT SELECT */
.input-label__select {
  min-width: 250px;
  position: relative;
}

.input-label__select select {
  appearance: none;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.input-label__select::after {
  --size: 5px;
  content: "";
  position: absolute;
  right: 21px;
  pointer-events: none;
}

.input-label__select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 65%;
}
