/*  HEADER   */
.header {
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-flow: column;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.2s ease;
  padding: 10px clamp(4vw, calc((100% - 992px) / 2), 4vw);
}

.header .logo img {
  max-width: 40vw;
}
@media (min-width: 768px) {
  .header .logo img {
    max-width: 250px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
