/* SEÇÃO DO IFRAME */
.iframeDash {
  width: 100%;
  min-height: 80vh;
  position: relative;
}

.iframe-content {
  min-height: inherit;
  width: inherit;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}

.iframeDash::before {
  content: "";
  position: absolute;
  bottom: 65px;
  margin: auto;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: transparent;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 50px 0 0 #06A2B9;
  z-index: 100;
}

.iframeDash::after {
  content: "";
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background: transparent;
  background-color: #06A2B9;
  z-index: 99;
}

.iframe-border {
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 65px);
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  z-index: 98;
  pointer-events: none;
}

iframe {
  width: 94%;
  height: 100%;
}
