.title-result {
  font-family: "Gilroy-thin";
  font-size: 2.5rem;
  color: #fff;
  margin-top: 5px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.title_result_page {
  font-family: "Gilroy-bold";
  font-size: 3rem;
  letter-spacing: 10px;
  padding: 5px;
}

.icon-result-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.icon-result-container > svg {
  padding: auto;
  color: yellow;
  height: 4.5rem;
  width: 4.5rem;
}

.message_result_page {
  font-family: "Gilroy-thin";
  font-size: 2rem;
  color: #fff;
  letter-spacing: 5px;
  font-style: italic;
  padding: 5px;
}

.topics-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 5px;
  margin: 50px 0 30px;
}

.topics-result h2 {
  font-family: "Gilroy-thin";
  font-size: 1rem;
  font-style: italic;
  padding: 20px;
}

.topics-result div > svg {
  margin: 0 5px;
  color: white;
  height: 6.5rem;
  width: 6.5rem;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 30%;
}

.topics-result div > ul {
  font-family: "Gilroy-thin";
  font-size: 1.1rem;
  min-height: 18vh;
  list-style: disc;
}
